<section data-section-name="Patient Information" hidden>
    <header class="level1">Patient Information</header>
    <p>
        <label>Name</label>
        <input type="text" name="PatientName" value="" />
    </p>
    <p>
        <label>Gender</label>
        <input type="text" name="PatientGender" value="" />
    </p>
    <p>
        <label>Birth Date</label>
        <input type="text" name="PatientDOB" value="" />
    </p>
    <p>
        <label>Identifier</label>
        <input type="text" name="PatientIdentifier" value="" />
    </p>
    <p>
        <label>ID System</label>
        <input type="text" name="PatientIdentifierSystem" value="" />
    </p>
    <p>
        <label>Contact Info</label>
        <input type="text" name="PatientContactInfo" value="" />
    </p>
</section>