<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<meta content="CT Sinuses" name="dcterms.title"/>
<meta content="CT Sinuses template :: Authored by Phillips CD, et al." name="dcterms.description"/>
<meta content="http://www.radreport.org/template/0000029" name="dcterms.identifier"/>
<meta content="en" name="dcterms.language"/>
<meta content="IMAGE_REPORT_TEMPLATE" name="dcterms.type"/>
<meta content="Radiological Society of North America (RSNA)" name="dcterms.publisher"/>
<meta content="May be used gratis, subject to license agreement" name="dcterms.rights"/>
<meta content="http://www.radreport.org/license.pdf" name="dcterms.license"/>
<meta content="2012-03-28" name="dcterms.date"/>
<meta content="Phillips CD, et al." name="dcterms.creator"/>
<meta content="Hong Y [coder]" name="dcterms.contributor"/>
<meta content="Kahn CE Jr [editor]" name="dcterms.contributor"/>
<meta content="American Society of Head and Neck Radiology (ASHNR)" name="dcterms.contributor"/>
<link rel="stylesheet" type="text/css" href="IHE_Template_Style.css"/>
<!-- The absolute link to the CSS file is http://www.radreport.org/html/IHE_Template_Style.css -->
<script type="text/xml">
<!--
<template_attributes>
<top-level-flag>true</top-level-flag>
<status>ACTIVE</status>
<coding_schemes>
 <coding_scheme name="RadLex" designator="2.16.840.1.113883.6.256" />
 <coding_scheme name="SNOMEDCT" designator="2.16.840.1.113883.6.96" />
 <coding_scheme name="LOINC" designator="2.16.840.1.113883.6.1" />
</coding_schemes>
<term>
 <code meaning="computed tomography" value="RID10321" scheme="RadLex">
</term>
<term>
 <code meaning="paranasal sinus" value="RID9554" scheme="RadLex">
</term>
<coded_content>
<entry ORIGTXT="T29_2">
 <term>
  <code meaning="procedure" value="RID1559" scheme="RadLex">
 </term>
</entry>
<entry ORIGTXT="T29_6">
 <term>
  <code meaning="clinical information" value="RID13166" scheme="RadLex">
 </term>
</entry>
<entry ORIGTXT="T29_8">
 <term>
  <code meaning="comparison" value="RID28483" scheme="RadLex">
 </term>
</entry>
<entry ORIGTXT="T29_13">
 <term>
  <code meaning="postoperative change" value="RID4591" scheme="RadLex">
 </term>
</entry>
<entry ORIGTXT="T29_15">
 <term>
  <code meaning="nasal cavity" value="RID9532" scheme="RadLex">
 </term>
</entry>
<entry ORIGTXT="T29_23">
 <term>
  <code meaning="frontal brain region" value="RID6391" scheme="RadLex">
 </term>
 <term>
  <code meaning="frontal sinus" value="RID9555" scheme="RadLex">
 </term>
</entry>
<entry ORIGTXT="T29_25">
 <term>
  <code meaning="maxillary sinus" value="RID9557" scheme="RadLex">
 </term>
</entry>
<entry ORIGTXT="T29_27">
 <term>
  <code meaning="ethmoid sinus" value="RID9561" scheme="RadLex">
 </term>
</entry>
<entry ORIGTXT="T29_29">
 <term>
  <code meaning="ostiomeatal unit" value="RID9558" scheme="RadLex">
 </term>
</entry>
<entry ORIGTXT="T29_31">
 <term>
  <code meaning="sphenoid sinus" value="RID9569" scheme="RadLex">
 </term>
</entry>
<entry ORIGTXT="T29_33">
 <term>
  <code meaning="sphenoethmoidal recess" value="RID9545" scheme="RadLex">
 </term>
</entry>
<entry ORIGTXT="T29_37">
 <term>
  <code meaning="frontal brain region" value="RID6391" scheme="RadLex">
 </term>
 <term>
  <code meaning="frontal sinus" value="RID9555" scheme="RadLex">
 </term>
</entry>
<entry ORIGTXT="T29_39">
 <term>
  <code meaning="maxillary sinus" value="RID9557" scheme="RadLex">
 </term>
</entry>
<entry ORIGTXT="T29_41">
 <term>
  <code meaning="ethmoid sinus" value="RID9561" scheme="RadLex">
 </term>
</entry>
<entry ORIGTXT="T29_43">
 <term>
  <code meaning="ostiomeatal unit" value="RID9558" scheme="RadLex">
 </term>
</entry>
<entry ORIGTXT="T29_45">
 <term>
  <code meaning="sphenoid sinus" value="RID9569" scheme="RadLex">
 </term>
</entry>
<entry ORIGTXT="T29_47">
 <term>
  <code meaning="sphenoethmoidal recess" value="RID9545" scheme="RadLex">
 </term>
</entry>
<entry ORIGTXT="T29_49">
 <term>
  <code meaning="normal variant" value="RID13212" scheme="RadLex">
 </term>
</entry>
<entry ORIGTXT="T29_51">
 <term>
  <code meaning="orbits" value="RID28601" scheme="RadLex">
 </term>
</entry>
<entry ORIGTXT="T29_55">
 <term>
  <code meaning="imaging observation" value="RID5" scheme="RadLex">
 </term>
</entry>
<entry ORIGTXT="T29_70">
 <term>
  <code meaning="impression section" value="RID13170" scheme="RadLex">
 </term>
</entry>
</coded_content>
</template_attributes>
-->
</script>
<title>CT Sinuses</title>
</head>
<body>
<section data-section-name="Procedure">
<header class="level1">CT Sinuses</header>
<p>
<textarea id="T29_2" name="Procedure"> </textarea>
</p>
</section>
<section data-section-name="Clinical information">
<header class="level1">Clinical information</header>
<p>
<textarea id="T29_6" name="Clinical information">Chronic rhinosinusitis. </textarea>
</p>
</section>
<section data-section-name="Comparison">
<header class="level1">Comparison</header>
<p>
<textarea id="T29_8" name="Comparison">None. </textarea>
</p>
</section>
<section data-section-name="Findings">
<header class="level1">Findings</header>
<section data-section-name="Right sinuses and drainage pathways">
<header class="level2">Right sinuses and drainage pathways</header>
<p>
<label for="T29_23">Frontal sinus and frontal recess:</label>
<input type="text" id="T29_23" name="Frontal sinus and frontal recess" value="Normal."/>
</p>
<p>
<label for="T29_25">Maxillary sinus:</label>
<input type="text" id="T29_25" name="Maxillary sinus" value="Normal."/>
</p>
<p>
<label for="T29_27">Ethmoid sinuses:</label>
<input type="text" id="T29_27" name="Ethmoid sinuses" value="Normal."/>
</p>
<p>
<label for="T29_29">Ostiomeatal complex:</label>
<input type="text" id="T29_29" name="Ostiomeatal complex" value="Normal."/>
</p>
<p>
<label for="T29_31">Sphenoid sinus:</label>
<input type="text" id="T29_31" name="Sphenoid sinus" value="Normal."/>
</p>
<p>
<label for="T29_33">Sphenoethmoidal recess:</label>
<input type="text" id="T29_33" name="Sphenoethmoidal recess" value="Normal."/>
</p>
</section>
<section data-section-name="Left sinuses and drainage pathways">
<header class="level2">Left sinuses and drainage pathways</header>
<p>
<label for="T29_37">Frontal sinus and frontal recess:</label>
<input type="text" id="T29_37" name="Frontal sinus and frontal recess" value="Normal."/>
</p>
<p>
<label for="T29_39">Maxillary sinus:</label>
<input type="text" id="T29_39" name="Maxillary sinus" value="Normal."/>
</p>
<p>
<label for="T29_41">Ethmoid sinuses:</label>
<input type="text" id="T29_41" name="Ethmoid sinuses" value="Normal."/>
</p>
<p>
<label for="T29_43">Ostiomeatal complex:</label>
<input type="text" id="T29_43" name="Ostiomeatal complex" value="Normal."/>
</p>
<p>
<label for="T29_45">Sphenoid sinus:</label>
<input type="text" id="T29_45" name="Sphenoid sinus" value="Normal."/>
</p>
<p>
<label for="T29_47">Sphenoethmoidal recess:</label>
<input type="text" id="T29_47" name="Sphenoethmoidal recess" value="Normal."/>
</p>
</section>
<section data-section-name="Other findings">
<header class="level2">Other findings</header>
<p>
<label for="T29_13">Post-surgical changes:</label>
<input type="text" id="T29_13" name="Post-surgical changes" value="None."/>
</p>
<p>
<label for="T29_49">Anatomic variations:</label>
<input type="text" id="T29_49" name="Anatomic variations" value="None."/>
</p>
<p>
<label for="T29_15">Nasal cavity:</label>
<input type="text" id="T29_15" name="Nasal cavity" value="Normal turbinates and septum. "/>
</p>
<p>
<label for="T29_51">Orbits:</label>
<input type="text" id="T29_51" name="Orbits" value="Normal."/>
</p>
<p>
<label for="T29_53">Anterior cranial fossa:</label>
<input type="text" id="T29_53" name="Anterior cranial fossa" value="Normal."/>
</p>
<p>
<label for="T29_55">Other findings:</label>
<input type="text" id="T29_55" name="Other findings" value="None."/>
</p>
</section>
</section>
<section data-section-name="Impression">
<header class="level1">Impression</header>
<p>
<textarea id="T29_70" name="Impression"> </textarea>
</p>
</section>
</body>
</html>
