<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<meta content="CT Chest" name="dcterms.title"/>
<meta content="CT Chest template :: Authored by Lakhani P" name="dcterms.description"/>
<meta content="http://www.radreport.org/template/0000236" name="dcterms.identifier"/>
<meta content="en" name="dcterms.language"/>
<meta content="IMAGE_REPORT_TEMPLATE" name="dcterms.type"/>
<meta content="Radiological Society of North America (RSNA)" name="dcterms.publisher"/>
<meta content="May be used gratis, subject to license agreement" name="dcterms.rights"/>
<meta content="http://www.radreport.org/license.pdf" name="dcterms.license"/>
<meta content="2012-08-03" name="dcterms.date"/>
<meta content="Lakhani P" name="dcterms.creator"/>

<meta content="Kahn CE Jr [editor]" name="dcterms.contributor"/>
<meta content="Thomas Jefferson University (TJU)" name="dcterms.contributor"/>
<link rel="stylesheet" type="text/css" href="IHE_Template_Style.css"/>
<!-- The absolute link to the CSS file is http://www.radreport.org/html/IHE_Template_Style.css -->
<script type="text/xml">
<!--
<template_attributes>
<top-level-flag>true</top-level-flag>
<status>ACTIVE</status>
<coding_schemes>
 <coding_scheme name="RadLex" designator="2.16.840.1.113883.6.256" />
 <coding_scheme name="SNOMEDCT" designator="2.16.840.1.113883.6.96" />
 <coding_scheme name="LOINC" designator="2.16.840.1.113883.6.1" />
</coding_schemes>
<term>
 <code meaning="computed tomography" value="RID10321" scheme="RadLex">
</term>
<term>
 <code meaning="thorax" value="RID1243" scheme="RadLex">
</term>
<coded_content>
<entry ORIGTXT="T236_2">
 <term>
  <code meaning="procedure" value="RID1559" scheme="RadLex">
 </term>
</entry>
<entry ORIGTXT="T236_8">
  <term>
  <code meaning="Clinical information" value="55752-0" scheme="LOINC">
 </term>
</entry>
<entry ORIGTXT="T236_9">
 <term>
  <code meaning="comparison" value="RID28483" scheme="RadLex">
 </term>
</entry>
<entry ORIGTXT="T236_23">
 <term>
  <code meaning="impression section" value="RID13170" scheme="RadLex">
 </term>
</entry>
</coded_content>
</template_attributes>
-->
</script>
<title>CT Chest</title>
</head>
<body>
<section data-section-name="Procedure">
<header class="level1">CT Chest</header>
<p>
<textarea id="T236_2" name="Procedure"> </textarea>
</p>
<p>
<label for="T236_3">Oral contrast</label>
<input type="text" id="T236_3" name="Oral contrast" value="Oral contrast was administered."/>
</p>
<p>
<label for="T236_4">IV contrast:</label>
<input type="text" id="T236_4" name="IV contrast" value=""/>
</p>
</section>
<section data-section-name="Clinical information">
<header class="level1">Clinical information</header>
<p>
<textarea id="T236_8" name="Clinical information"> </textarea>
</p>
</section>
<section data-section-name="Comparison">
<header class="level1">Comparison</header>
<p>
<textarea id="T236_9" name="Comparison">None. </textarea>
</p>
</section>
<section data-section-name="Findings">
<header class="level1">Findings</header>
<p>
<label for="T236_13">Lungs and large airways: </label>
<input type="text" id="T236_13" name="Lungs and large airways" value="Normal. "/>
</p>
<p>
<label for="T236_14">Pleura: </label>
<input type="text" id="T236_14" name="Pleura" value="Normal. No pleural effusion or thickening. "/>
</p>
<p>
<label for="T236_17">Heart and pericardium: </label>
<input type="text" id="T236_17" name="Heart and pericardium" value="Heart size is normal. No pericardial effusion. "/>
</p>
<p>
<label for="T236_19">Mediastium and hila: </label>
<input type="text" id="T236_19" name="Mediastium and hila" value="Normal. "/>
</p>
<p>
<label for="T236_20">Chest wall and lower neck: </label>
<input type="text" id="T236_20" name="Chest wall and lower neck" value="Normal. "/>
</p>
<p>
<label for="T236_21">Vessels: </label>
<input type="text" id="T236_21" name="Vessels" value="Atherosclerotic changes in the aorta and coronary arteries."/>
</p>
<p>
<label for="T236_22">Bones: </label>
<input type="text" id="T236_22" name="Bones" value="Normal."/>
</p>
</section>
<section data-section-name="Impression">
<header class="level1">Impression</header>
<p>
<textarea id="T236_23" name="Impression"> </textarea>
</p>
</section>
</body>
</html>
