<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>MakesCents</title>
    <script src="~/js/Index.js" asp-append-version="true"></script>
    <link rel="stylesheet" href="~/css/Index.css" />

</head>

<body class="index" data-languages="[&quot;code&quot;]">
    @{
        ViewData["Title"] = "C53";
    }

    <h2>Index</h2>

    <p>C53 Synoptic Radiology Reporting System</p>
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Template Name</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</body>
</html>